.btn {
  font-size: 30px;
  line-height: 35px;
  display: block;
  color: #737373;
  text-decoration: none;
  padding: 19px 0;
  background: rgba(216, 194, 164, 0.5);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.delivery-btn {
  display: flex;
  max-width: 460px;
  font-size: 80px;
  line-height: 92px;
  color: #000;
}
